body {
  background-color: #1a212d;
  color: #faf9f6;
  font-family: monospace;
  font-size: 14px;
  padding: 10px 20px 30px;
}
h1,
h2 {
  background: linear-gradient(white, #51eaff);
  -webkit-background-clip: text;
  background-clip: text !important;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
h1 {
  font-size: 32px;
  text-align: center;
}
h2 {
  margin: 30px 0 20px;
}
.header1,
.header2 {
  position: sticky;
  background-color: #1a212d;
  top: 0;
  padding: 10px 0 0;
  z-index: 50;
}
.header2 {
  top: 20px;
  z-index: 40;
  padding: 5px 0 0;
}
.summary {
  text-align: center;
  margin: 25px 0 20px;
  > div {
    margin-top: 15px;
  }
}
.dives {
  margin-left: 16px;
}
.dive {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px;
  > div > div {
    margin-bottom: 6px;
  }
}
.details {
  position: relative;
}
.site {
  font-size: 16px;
  margin-bottom: 6px;

  > span {
    font-size: 14px;
    color: silver;
  }
}
.blue {
  color: #4f94d4;
}
.silver,
.notes {
  color: silver;
}
img {
  width: 36px;
}
.nitrox {
  position: absolute;
  margin-left: 6px;
  width: 16px;
}
footer {
  color: #4f94d4;
  text-align: center;
  margin-top: 50px;
  > a {
    color: #4f94d4;
    text-decoration: none;
    &:hover {
      color: orange;
      text-decoration: underline;
    }
  }
}
